<html>
  <head>
    <title>Firewatch Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Firewatch Dashboard</h1>
    <div class="fw-wrapper">
      <div class="row">
        <div class="col six">
          <div class="widget-box">
            {% if error %}
              {{ error }}
            {% endif %}
            <h2>Enter a Postcode</h2>
            <form id="postcode-form" method="POST" action="/">
              <input type="text" id="postcode" name="postcode"/> 
              <input type="submit" value="Go" /> 
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>